<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand">Home Appareil</div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="appareil-list" class="nav-link">Liste des appareils</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item ml-auto" *ngIf="!isAuth()">
      <a routerLink="connexion" class="nav-link">Connexion</a>
    </li>

    <li class="nav-item ml-auto" *ngIf="isAuth()">
      <a routerLink="connexion" class="nav-link" (click)="onLogout()">Déconnexion</a>
    </li>
  </ul>
</nav>

<div class="container pt-4">
  <router-outlet></router-outlet>
</div>
